#theme-builder {
	text-align: left; -ms-overflow-x: hidden;
}
#theme-builder a {
	color: rgb(41, 60, 85); cursor: pointer;
}
#theme-builder .btn {
	transition:0.5s;
}
#theme-builder .btn-default {
	border-color: rgb(238, 238, 238); color: rgb(41, 60, 85);
}
#theme-builder .btn-default:hover {
	border-color: rgb(221, 221, 221); color: rgb(41, 60, 85); background-color: rgb(238, 238, 238);
}
#theme-builder .btn-default:active {
	border-color: rgb(221, 221, 221); color: rgb(41, 60, 85); background-color: rgb(238, 238, 238);
}
#theme-builder .btn-default:focus {
	border-color: rgb(221, 221, 221); color: rgb(41, 60, 85); background-color: rgb(238, 238, 238);
}
#theme-builder .btn-default.active {
	border-color: rgb(221, 221, 221); color: rgb(41, 60, 85); background-color: rgb(238, 238, 238);
}
#theme-builder .btn-primary {
	border-color: rgb(49, 72, 102); background-color: rgb(58, 84, 119);
}
#theme-builder .btn-primary:hover {
	border-color: rgb(58, 84, 119); background-color: rgb(74, 109, 154);
}
#theme-builder .btn-primary:active {
	border-color: rgb(58, 84, 119); background-color: rgb(74, 109, 154);
}
#theme-builder .btn-primary:focus {
	border-color: rgb(58, 84, 119); background-color: rgb(74, 109, 154);
}
#theme-builder .btn-primary.active {
	border-color: rgb(58, 84, 119); background-color: rgb(74, 109, 154);
}
#theme-builder .scroll-parent {
	left: 15px; top: 0px; right: 15px; bottom: 0px; overflow: hidden; position: absolute;
}
#theme-builder .scroll-parent > div {
	height: 100%; -ms-overflow-y: auto;
}
#theme-builder .chart-container {
	padding: 0px 15px 15px; margin-bottom: 20px;
}
#theme-builder .chart-container h3 {
	font-size: 1.5em; margin-top: 20px;
}
#theme-builder .ec-container {
	padding: 0px 15px 30px;
}
#theme-builder .ec-panel {
	width: 100%; height: 300px; box-sizing: border-box;
}
#theme-builder .icon {
	color: rgb(41, 60, 85);
}
#theme-builder .port-row {
	margin-bottom: 5px;
}
#theme-builder .port-row .btn {
	font-size: 0.9em; margin-bottom: 5px;
}
#theme-builder .theme-config {
	padding: 0px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#theme-builder .theme-config h5 {
	margin: 10px;
}
#theme-builder .theme-config .form-group .col-sm-3 {
	text-align: right; padding-right: 0px;
}
@media all and (max-width:768px)
{
#theme-builder .theme-config .form-group .col-sm-3 {
	padding-right: 15px;
}
}
#theme-builder .theme-config .form-group .col-sm-3 input {
	margin-top: 0px;
}
#theme-builder .theme-config h5 ~ h5 {
	padding-top: 20px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
#theme-builder .theme-config .axis-group h5 {
	padding-top: 20px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
#theme-builder .theme-config form + form {
	margin-top: 10px;
}
#theme-builder .theme-config label {
	padding-right: 0px;
}
#theme-builder .theme-config .input-group {
	width: 100%;
}
#theme-builder .theme-config .form-control {
	border-color: rgb(238, 238, 238); border-radius: 0px; box-shadow: none;
}
#theme-builder .theme-config .input-group-addon {
	border-color: rgb(238, 238, 238); border-radius: 0px; box-shadow: none;
}
#theme-builder .theme-config .form-control:hover {
	border-color: rgb(221, 221, 221);
}
#theme-builder .theme-config .input-group-addon:hover {
	border-color: rgb(221, 221, 221);
}
#theme-builder .theme-config .colorpicker-element {
	border-radius: 0px; margin-bottom: 5px;
}
#theme-builder .theme-config .input-group-addon {
	background-color: rgb(255, 255, 255);
}
#theme-builder .theme-config .input-group-addon i {
	border: 1px solid rgb(238, 238, 238); border-image: none;
}
#theme-builder .theme-config .panel-group {
	margin-bottom: 0px;
}
#theme-builder .theme-config .panel {
	border: currentColor; border-image: none;
}
#theme-builder .theme-config .panel-heading {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; padding: 0px; border-radius: 0px; transition:0.5s; border-image: none; color: rgb(41, 60, 85);
}
#theme-builder .theme-config .panel-heading:hover {
	background-color: rgb(238, 238, 238);
}
#theme-builder .theme-config .panel-title a {
	padding: 10px 16px; text-decoration: none !important; display: block;
}
#theme-builder .theme-config .panel-body {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
#theme-builder .space-row {
	margin-left: -4px;
}
#theme-builder .theme-plan-row :nth-child(2n).col-xs-6 {
	padding-left: 5px;
}
#theme-builder .theme-plan-row :nth-child(2n+1).col-xs-6 {
	padding-right: 5px;
}
#theme-builder .theme-plan-group {
	padding: 5px; border-radius: 4px; border: 1px solid rgb(238, 238, 238); border-image: none; width: auto; height: 32px; overflow: hidden; margin-bottom: 8px; display: flex; flex-wrap: wrap; justify-content: space-between;
}
#theme-builder .theme-plan-color {
	border-radius: 3px; width: 20px; height: 20px; margin-right: 2px; margin-bottom: 10px; margin-left: 2px; display: inline-block;
}
#theme-builder .colorpicker {
	padding: 10px;
}
#theme-builder .theme-color-control {
	padding-top: 5px;
}
#theme-builder .theme-color-control a {
	margin: 0px 0px 5px 5px;
}
#theme-builder #download-js-modal pre {
	border-color: rgb(238, 238, 238); border-radius: 0px 4px 4px; transition:0.5s; -ms-overflow-y: auto; max-height: 200px; background-color: rgb(249, 249, 249);
}
#theme-builder #download-js-modal pre:hover {
	box-shadow: inset 0px 0px 10px #ccc;
}
#theme-builder #download-js-modal pre code {
	background: none; top: -20px; position: relative;
}
#theme-builder #download-js-modal h4 ~ h4 {
	margin-top: 20px;
}
#theme-builder #download-js-modal .tab-content {
	margin-top: 10px;
}
#theme-builder .code-btn .btn {
	border-radius: 4px 0px 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#theme-builder .code-btn .btn ~ .btn {
	border-radius: 0px 4px 0px 0px;
}
#theme-builder .code-btn label {
	padding: 1px 5px; font-size: 0.9em; margin-left: 10px; display: none; background-color: rgb(255, 255, 170);
}
#theme-builder .nav-tabs {
	margin-top: 10px;
}
#theme-builder .modal-dialog {
	margin-top: 100px;
}
@media all and (min-width:960px)
{
#theme-builder .modal-dialog {
	width: 900px;
}
}
